@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

:root {
  --color-red: #d11a26;
  --color-gray: #494844;
  --color-white: #e8e8e8;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;

}

/* navbar styling */
.navbar {
  position: fixed;
  width: 100%;
  padding: 30px 0;
  /*background: var(--color-red);*/
  font-family: 'Ubuntu', sans-serif;
  transition: all 0.3s ease;
}

.navbar.sticky {
  /*if scrollY then add sticky class*/
  padding: 15px 0;
  background: var(--color-red);
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*.navbar .nav-text .logo{
    width: 85px;
    height: 85px;
    position: relative;
    top:20px;
  }*/
.navbar .nav-text a:hover {
  color: var(--color-red);
}

.navbar.sticky .nav-text a:hover {
  color: var(--color-white);
  text-shadow: 1px 1px 3px #000;
}

.navbar .nav-text a {
  font-size: 35px;
  font-weight: 600;
  color: var(--color-white);
}

.navbar .nav-text a span {
  color: var(--color-red);
}

.navbar.sticky .nav-text a span {
  color: var(--color-white);
  /*transition: all 0.3s ease;*/
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  color: var(--color-white);
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}

.navbar .menu li a:hover {
  color: var(--color-red);
}

.navbar.sticky .menu li a:hover {
  color: var(--color-white);
  text-shadow: 1px 1px 3px #000;
}

/* menu btn styling*/
.menu-btn {
  color: var(--color-white);
  font-size: 23px;
weigth: 23px;
height: 23px;
  cursor: pointer;
  display: none;
}

/* home section styling */
.home {
  display: flex;
  background: url("images/iguazu-waterfalls.jpg") no-repeat center;
  height: 100vh;
  color: var(--color-white);
  min-height: 500px;
  font-family: 'Ubuntu', sans-serif;
}

.home .max-width {
  margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
  font-size: 27px;

}

.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;

}

.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}

.home .home-content .text-3 span {
  color: var(--color-red);
  font-weight: 500;
}

/* responsive media query start */
@media(max-width: 1104px){
  .home .max-width{
    margin-left: 0px;
  }
}

@media(max-width: 991px){
  .max-width {
    padding: 0 50px;
  }
}

@media(max-width: 947px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }

  .menu-btn i.active:before {
    /*menu-btn set x*/
    content: "\f00d";
  }

  .navbar .menu {
    position: fixed;
    background: var(--color-gray);
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }

  .navbar .menu:active {
    left: 0;
  }

  .navbar .menu li {
    display: block;
  }

  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }

  .home .home-content .text-2 {
    font-size: 70px;

  }

  .home .home-content .text-3 {
    font-size: 35px;
  }
}

@media(max-width: 690px) {
  .max-width{
    padding: 0 23px;
  }
  .home .home-content .text-2 {
    font-size: 60px;

  }

  .home .home-content .text-3 {
    font-size: 32px;
  }
}
@media(max-width: 500px) {
  .home .home-content .text-2 {
    font-size: 50px;

  }

  .home .home-content .text-3 {
    font-size: 27px;
  }
}