/* about section styling */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

:root {
    --color-red: #d11a26;
    --color-gray: #494844;
    --color-white: #e8e8e8;

}

section {
    padding: 100px 0;
}

.about {
    font-family: 'poppins', sans-serif;
}

.about .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 60px;
    padding-bottom: 20px;
}

.about .title:before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

.about .title::after {
    content: "who i am";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: var(--color-red);
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
    /*background: transparent;*/
}

.about .about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about .about-content .left {
    width: 45%;
}

.about .about-content .left img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}

.about .about-content .right {
    width: 55%;
}

.about .about-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right .text span {
    color: var(--color-red);
}

.about .about-content .right p {
    text-align: justify;
}

.about .about-content .right a {
    display: inline-block;
    background: var(--color-red);
    color: var(--color-white);
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid var(--color-red);
    transition: all 0.3s ease;
}

.about .about-content .right a:hover {
    color: var(--color-red);
    background: none;
}

/* responsive media query start */
@media(max-width: 1104px) {
    .about .about-content .column {
        width: 100%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .left img {
        height: 350px;
        width: 350px;
    }
    .about .about-content .right{
        flex: 100%;
    }
}