.colr{
    --color-red: #d11a26;
    --color-gray: #494844;
    --color-white: #e8e8e8;

    --color-blue-1: #1F5A78;
    --color-blue-2: #214B6F;
    --color-blue-3: #262833;
  
    --color-orange-2: #f3a743;
    --color-orange-1: #cd8741;
    --color-orange-3: #fcd695;
  
    --color-black-1: #262833;
    --color-black-2: #353648;
    --color-black-3: #74737d;
  
    --color-red-1: #ea8255;
    --color-red-2: #de5e70;
    --color-red-3: #aa3a82;
}