.colr{
    color: #1F5A78;
    color: #214B6F;
    color: #262833;
  
    color: #fcd695;
    color: #f3a743;
    color: #cd8741;
  
    color: #262833;
    color: #353648;
    color: #74737d;
  
    color: #ea8255;
    color: #de5e70;
    color: #aa3a82;
}