/* home section styling */
.home {
  display: flex;
  background: url("../images/banner.jpg") no-repeat center;
  height: 100vh;
  color: var(--color-white);
  min-height: 500px;
  font-family: 'Ubuntu', sans-serif;
}

.home .max-width {
  margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
  font-size: 27px;
}

.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;

}

.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}

.home .home-content .text-3 span {
  color: var(--color-blue-1);
  font-weight: 500;
}

.home .home-content a {
  display: inline-block;
  background: var(--color-blue-1);
  color: var(--color-white);
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid var(--color-blue-1);
  transition: all 0.3s ease;
}

.home .home-content a:hover {
  color: var(--color-blue-1);
  background: none;
}

/* responsive media query start */
@media(max-width: 1300px) {
  .home .max-width {
    margin-left: 0px;
  }
}

@media(max-width: 947px) {

  .home .home-content .text-2 {
    font-size: 70px;

  }

  .home .home-content .text-3 {
    font-size: 35px;
  }
}

@media(max-width: 690px) {

  .home .home-content .text-2 {
    font-size: 60px;

  }

  .home .home-content .text-3 {
    font-size: 32px;
  }
}

@media(max-width: 500px) {

  .home .home-content .text-2 {
    font-size: 50px;

  }

  .home .home-content .text-3 {
    font-size: 27px;
  }

}

@media(max-width: 422px) {

  .home {
    background: url("../images/banner-2.jpg") no-repeat center;
  }

  .home .home-content {
    margin-bottom: 200px;
  }

}