@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

:root {
    --color-red: #d11a26;
    --color-gray: #494844;
    --color-white: #e8e8e8;

    --color-blue-1: #1F5A78;
    --color-blue-2: #214B6F;
    --color-blue-3: #262833;

    --color-orange-2: #f3a743;
    --color-orange-1: #cd8741;
    --color-orange-3: #fcd695;

    --color-black-1: #262833;
    --color-black-2: #353648;
    --color-black-3: #74737d;

    --color-red-1: #ea8255;
    --color-red-2: #de5e70;
    --color-red-3: #aa3a82;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* all similar  content styling code  */
section {
    padding: 100px 0;
}

section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 60px;
    padding-bottom: 20px;
}

section .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

section .title::after {
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: var(--color-blue-1);
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}

@media(max-width: 991px) {
    .max-width {
        padding: 0 50px;
    }
    section {
        padding: 30px 0;
    }
}

@media(max-width: 690px) {
    .max-width {
        padding: 0 23px;
    }
}