/* skills section stylling */
.skills {
    font-family: 'Poppins', sans-serif;
}

.skills .skills-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.skills .title::after {
    content: "what i konw";
}

.skills .skills-content .column {
    width: calc(50% - 10px);
}

.skills .skills-content .left .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.skills .skills-content .left p {
    text-align: justify;
}

.skills .skills-content .left a {
    display: inline-block;
    background: var(--color-red);
    color: var(--color-white);
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid var(--color-red);
    transition: all 0.3s ease;
}

.skills .skills-content .left a:hover {
    color: var(--color-red);
    background: none;

}

.skills .skills-content .right .bars {
    margin-bottom: 15px;
}

.skills .skills-content .right .info {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .right span {
    font-weight: 500;
    font-size: 18px;
}

.skills .skills-content .right .line {
    height: 5px;
    width: 100%;
    background: lightgray;
    position: relative;
}

.skills .skills-content .right .line::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--color-red);
}

.skills-content .right .html::before {
    width: 36.2%;
}

.skills-content .right .css::before {
    width: 61.7%;
}

.skills-content .right .js::before {
    width: 2.1%;
}

.skills-content .right .java::before {
    width: 50%;
}

.skills-content .right .mysql::before {
    width: 50%;
}

/* services responsive media query start */
@media(max-width: 947px){
    .skills .skills-content .column{
        width:100%;
        margin-bottom: 35px;
    }
}