@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

:root {
    --color-red: #d11a26;
    --color-gray: #494844;
    --color-white: #e8e8e8;

}

/* team section stylling */
.team{
    font-family: 'Popins', sans-serif;
    color: var(--color-white);
    background: black;
}
.team .title::before{
    background: var(--color-white);
}
.team .title::after{
    background: black;
    content: "Who with me";
}
.team .carousel .card{
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.3s ease;
}
.team .carousel .card:hover{
    background: var(--color-red);
}
.team .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.team .carousel .card:hover .box{
    transform: scale(1.05);
}
.team .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.team .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid var(--color-red);
    transition: all 0.3s ease;
}
.team .carousel .card:hover img{
    border-color: var(--color-white);
    
}

/* owl function stylling */
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid var(--color-red)!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active, .owl-dot.active:hover{
    background: var(--color-red)!important;
}
